<h2>MLB Teams Runs/Hit</h2>
<div class="card border-primary">
  <div class="card-header bg-primary text-white">Teams
    <small>(last updated on: {{ overallStandings?.overallteamstandings.lastUpdatedOn }})</small>
  </div>
  <div class="card-body">
    <div class="material-container mat-elevation-z8">
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <div class="tbl-container">
        <table mat-table [dataSource]="materialDataSource" matSort matSortActive="rank" matSortDirection="asc">
          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
            <td mat-cell *matCellDef="let teamInfo">{{teamInfo.rank}}</td>
          </ng-container>
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Team City&nbsp;<small class="text-muted">Mascot</small>
            </th>
            <td mat-cell *matCellDef="let teamInfo">{{teamInfo.team.City}}&nbsp;<small class="text-muted">{{teamInfo.team.Name}}</small>
            </td>
          </ng-container>
          <ng-container matColumnDef="GamesPlayed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>G</th>
            <td mat-cell *matCellDef="let teamInfo">{{teamInfo.stats.GamesPlayed['#text']}}</td>
          </ng-container>
          <ng-container matColumnDef="Runs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>R</th>
            <td mat-cell *matCellDef="let teamInfo">{{teamInfo.stats.Runs['#text']}}</td>
          </ng-container>
          <ng-container matColumnDef="Hits">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>H</th>
            <td mat-cell *matCellDef="let teamInfo">{{teamInfo.stats.Hits['#text']}}</td>
          </ng-container>
          <ng-container matColumnDef="RunsPerHit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>R/H</th>
            <td mat-cell *matCellDef="let teamInfo">{{teamInfo.stats.Runs['#text'] / teamInfo.stats.Hits['#text'] | number: '1.3-3'}}</td>
          </ng-container>
          <ng-container matColumnDef="HitsPerRun">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>H/R</th>
            <td mat-cell *matCellDef="let teamInfo">{{teamInfo.stats.Hits['#text'] / teamInfo.stats.Runs['#text'] | number: '1.3-3'}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['rank','City','GamesPlayed','Runs','Hits','RunsPerHit','HitsPerRun']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['rank','City','GamesPlayed','Runs','Hits','RunsPerHit','HitsPerRun'];"></tr>
        </table>
      </div>
    </div>
  </div>
</div>