<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    <fa-icon [icon]="faBaseballBall" style="color: white;" title="Baseball (MLB)"></fa-icon>, 
    <fa-icon [icon]="faBasketballBall" style="color: orange;" title="Basketball (NBA)"></fa-icon>, 
    <fa-icon [icon]="faFootballBall" style="color: brown;" title="Football (NFL)"></fa-icon>, 
    and <fa-icon [icon]="faHockeyPuck" style="color: black;" title="Hockey (NHL)"></fa-icon> data
    provided by <a href="https://www.mysportsfeeds.com/" target="_blank">MySportsFeeds</a>.
    <fa-icon [icon]="faCode" title="Coded"></fa-icon> in Leander, Texas by <a href="https://twitter.com/raydisejr" target="_blank">rad, jr.</a>
  </div>
</nav>