<h2>{{title}} <small class="text-muted">last updated on: {{ overallStandings?.overallteamstandings.lastUpdatedOn }}</small></h2>
<div>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Team Name <small class="text-muted">(Mascot)</small></th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">PCT</th>
        <th scope="col">GB</th>
        <th scope="col">RS</th>
        <th scope="col">RA</th>
        <th scope="col">DIFF</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teamInfo of overallStandings?.overallteamstandings.teamstandingsentry">
        <td>{{teamInfo.team.City}} <small class="text-muted">{{teamInfo.team.Name}}</small></td>
        <td>{{teamInfo.stats.Wins['#text']}}</td>
        <td>{{teamInfo.stats.Losses['#text']}}</td>
        <td>{{teamInfo.stats.WinPct['#text']}}</td>
        <td>{{teamInfo.stats.GamesBack['#text']}}</td>
        <td>{{teamInfo.stats.RunsFor['#text']}}</td>
        <td>{{teamInfo.stats.RunsAgainst['#text']}}</td>
        <td>{{teamInfo.stats.RunDifferential['#text']}}</td>
      </tr>
    </tbody>
  </table>
</div>
