<h1>Contact Dise Internet Ventures</h1>
<p>Please funnel your communications through one of the broad channels talked about below.</p>
<h2>Personal</h2>
<p>Should you need to contact me, the best way is electronically via RayDiseAtGmailDotCom. I can also be reached on <a href="http://twitter.com/raydisejr" target="_contact">Twitter</a>.</p>
<h2>Issues or Feature Requests</h2>
<p>Reporting issues is best done through <a href="https://github.com/div78641/AngularStatsApp/issues" target="_github">the GitHub repository for this project</a>.</p>
<p>Feature requests can be done at the same GitHub repository. Please remember that I am limited by the information available in the data feed.</p>
<h2>Questions about the Data Feed</h2>
<p>If you have questions about the data feed, there is <a href="https://mysportsfeeds.slack.com/messages/C32F1F606/" target="_slack">an excellent Slack channel</a> set up by MySportsFeeds.com.</p>
